:root {
    --primary-color: #58a6ff;
    --background-color: #161b22;
    --text-color: #c9d1d9;
    --hover-shadow: rgba(0, 0, 0, 0.4);
    --highlight-color: #ff6347; /* Adding a highlight color for emphasis */
}

.about {
    margin-bottom: 40px;
    color: var(--text-color);
}

.about h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-shadow: 0 0 8px var(--primary-color);
    text-align: left;
}

.about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.about-item {
    flex: 1 1 calc(50% - 10px);
    background-color: var(--background-color);
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--hover-shadow);
}

.about-item strong {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.about-item p {
    font-size: 1.1rem;
    color: #8b949e;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .about ul {
      flex-direction: column;
    }
  
    .about-item {
      flex: 1 1 100%;
    }
  
    .map-container {
      height: 30vh;
    }
  }

/* Legend Styles */
.legend-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    width: 100%;             /* Ensure it takes full width */
    margin-top: 20px;        /* Optional: Adjust the margin */
    position: relative;      /* Ensure it's placed correctly */
    flex-direction: column;  /* Stack the title and legend items vertically */
}

.legend-title {
    font-size: 1.3rem;
    color: var(--primary-color); /* Use your primary color for the title */
    font-weight: bold;
    margin-bottom: 10px; /* Space between title and legend items */
}

.legend {
    display: flex;
    flex-direction: row; /* Change to row to display items inline */
    justify-content: space-around; /* Distribute items evenly */
    align-items: center;
    padding: 15px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; /* Adjust the width to your needs */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add space between items */
}

.legend-item span {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--text-color);
}

.blue-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: blue;
}

.green-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
}

.green-empty-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid green;
}

.popup {
    background-color: #d3d3d3; /* Light grey background */
    color: #000; /* Black text */
    padding: 5px 10px; /* Smaller padding for compact size */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    font-size: 1rem; /* Standard font size */
    font-weight: bold; /* Bold text for emphasis */
    white-space: nowrap; /* Ensure text stays on one line */
    text-align: center; /* Center-align the text */
    display: none; /* Initially hidden */
    position: absolute; /* Required for overlay positioning */
    z-index: 1000; /* Ensure it's above other elements */
}


